.whatsapp .whatsapp {
    position: fixed;

    right: 30px;
    bottom: 30px;

    width: 65px;
    height: 65px;

    background: #25D366;

    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    text-decoration: none;

    z-index: 9999;

    box-shadow:
        0 0 10px rgba(37, 211, 102, 0.7),
        0 0 20px rgba(37, 211, 102, 0.5),
        0 0 30px rgba(37, 211, 102, 0.3);

    transition: all 0.3s ease;
}

.whatsapp img {
    width: 60px;
    height: 50px;
}

.whatsapp:hover {
    transform: scale(1.1);
    box-shadow:
        0 0 15px rgba(37, 211, 102, 1),
        0 0 30px rgba(37, 211, 102, 0.8),
        0 0 45px rgba(37, 211, 102, 0.6);
}

.whatsapp:hover {
    transform: scale(1.1);
}
.whatsapp,
.instagram {
    position: fixed;

    right: 30px;

    width: 65px;
    height: 65px;

    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 9999;

    transition: 0.3s;
}

    .whatsapp {
    position: fixed;

    right: 30px;
    bottom: 30px;

    width: 65px;
    height: 65px;

    background: #25D366;

    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    text-decoration: none;

    z-index: 9999;

    box-shadow:
        0 0 10px rgba(37, 211, 102, 0.7),
        0 0 20px rgba(37, 211, 102, 0.5),
        0 0 30px rgba(37, 211, 102, 0.3);

    transition: all 0.3s ease;
}

.whatsapp img {
    width: 40px;
    height: 40px;
}

.whatsapp:hover {
    transform: scale(1.1);
    box-shadow:
        0 0 15px rgba(37, 211, 102, 1),
        0 0 30px rgba(37, 211, 102, 0.8),
        0 0 45px rgba(37, 211, 102, 0.6);

}

.instagram {
    bottom: 110px;
    background: #E1306C;
}

.whatsapp img,
.instagram img {
    width: 35px;
    height: 35px;
}

.whatsapp:hover,
.instagram:hover {
    transform: scale(1.1);
}