/* ===========================
   RESET GERAL
=========================== */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  background: #0b0b0b;
  color: #ffffff;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

button {
  font-family: inherit;
}

img {
  max-width: 100%;
  display: block;
}

#root {
  width: 100%;
}
html {
    scroll-behavior: smooth;
}